<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="23032573.jpg">

    <meta charset="UTF-8">
    <title>Pets & Shit</title>
    <style>
        body{
            background-color: lightpink;
        }
    </style>
    <style>
        #wrapper{
            text-align: center;
            ali: middle;

        }
        #center{
            text-align: center;
        }
    </style>
</head>
<body>
<h1 text align="center">Let us register your amazing pet! </h1>
<p style="text-align: center; font-size: 25px"><b>We just need a little info</b></p>
    <div id="wrapper">
        <form action="/register" method="post">
            <input type="text" name="petType" placeholder="Pet species">
            <input type="text" name="petName" placeholder="Pet name"><br><br>
            <input type="submit" value="Confirm">
    </div>

<div id="center">
    <img src="pets_big.png" alt="Pets" width="1000" height="600">
</div>
<a href="/lucky" class="button">Feeling Lucky?</a>

</form>
</body>
</html>